In [29]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
start_date = '2024-01-01'
end_date = '2024-12-31'
all_data = {ticker: pdr.get_data_yahoo(ticker, start=start_date, end=end_date) for ticker in tickers}
print(all_data)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'2330.TW':              Open   High    Low  Close   Adj Close    Volume
Date
2024-01-02  590.0  593.0  589.0  593.0  587.971313  26059058
2024-01-03  584.0  585.0  576.0  578.0  573.098572  37106763
2024-01-04  580.0  581.0  577.0  580.0  575.081543  15309129
2024-01-05  578.0  580.0  574.0  576.0  571.115479  18158971
2024-01-08  582.0  585.0  579.0  583.0  578.056152  17761275
...           ...    ...    ...    ...         ...       ...
2024-06-26  951.0  960.0  951.0  960.0  960.000000  44967166
2024-06-27  951.0  961.0  949.0  960.0  960.000000  39729446
2024-06-28  956.0  971.0  955.0  966.0  966.000000  39138210
2024-07-01  968.0  977.0  965.0  968.0  968.000000  19935737
2024-07-02  967.0  971.0  959.0  960.0  960.000000  25946751

[119 rows x 6 columns], '2303.TW':                  Open       High        Low      Close  Adj Close     Volume
Date
2024-01-02  52.500000  52.799999  51.299999  51.900002  49.163513   64217881
2024-01-03  51.200001  51.299999  50.500000  50.599998  47.932056   75978300
2024-01-04  50.500000  50.900002  50.200001  50.799999  48.121510   56554331
2024-01-05  51.599998  52.200001  50.599998  50.799999  48.121510   77391673
2024-01-08  51.000000  51.000000  50.099998  50.500000  47.837330   63869803
...               ...        ...        ...        ...        ...        ...
2024-06-26  56.500000  56.700001  56.099998  56.599998  53.615700   40739678
2024-06-27  56.099998  56.400002  55.500000  56.400002  53.426247   63763167
2024-06-28  56.099998  56.200001  55.599998  55.700001  52.763153   86163793
2024-07-01  55.900002  57.299999  55.900002  56.900002  53.899883  145350617
2024-07-02  53.500000  53.500000  51.900002  52.700001  52.700001  237928728

[119 rows x 6 columns], '2454.TW':               Open    High     Low   Close    Adj Close    Volume
Date
2024-01-02  1010.0  1015.0   980.0   981.0   955.677246  10009034
2024-01-03   976.0   977.0   953.0   953.0   928.400024  12547023
2024-01-04   940.0   947.0   922.0   928.0   928.000000   8449251
2024-01-05   929.0   935.0   921.0   921.0   921.000000   5524580
2024-01-08   930.0   936.0   918.0   920.0   920.000000   5553064
...            ...     ...     ...     ...          ...       ...
2024-06-26  1395.0  1430.0  1395.0  1405.0  1405.000000   4993229
2024-06-27  1380.0  1410.0  1380.0  1395.0  1395.000000   4724876
2024-06-28  1400.0  1405.0  1375.0  1400.0  1400.000000   6843642
2024-07-01  1405.0  1440.0  1405.0  1415.0  1415.000000   5023006
2024-07-02  1410.0  1415.0  1390.0  1410.0  1410.000000   5184374

[119 rows x 6 columns], '2317.TW':              Open   High    Low  Close   Adj Close     Volume
Date
2024-01-02  104.5  105.0  104.0  105.0  102.375000   19921105
2024-01-03  104.5  105.0  104.0  104.5  101.887505   18957682
2024-01-04  104.5  105.0  104.0  104.0  101.400002   15488559
2024-01-05  104.0  104.5  104.0  104.0  101.400002   13349572
2024-01-08  103.5  104.0  101.5  101.5   98.962502   34642006
...           ...    ...    ...    ...         ...        ...
2024-06-26  211.5  215.5  210.0  210.0  204.750000  107811774
2024-06-27  208.0  214.5  207.5  212.5  207.187500   84781047
2024-06-28  214.0  216.0  212.5  214.0  208.650009   75725075
2024-07-01  215.0  217.0  214.5  216.0  210.600006   73503014
2024-07-02  212.0  213.0  203.0  204.5  204.500000  146321925

[119 rows x 6 columns]}

In [30]:
import pandas as pd 
df1 = pd.DataFrame({ticker:dataFrame['Adj Close'] for ticker,dataFrame in all_data.items()})
df2 = df1.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
df2

                   台積電         聯電          聯發科          鴻海
Date
2024-01-02  587.971313  49.163513   955.677246  102.375000
2024-01-03  573.098572  47.932056   928.400024  101.887505
2024-01-04  575.081543  48.121510   928.000000  101.400002
2024-01-05  571.115479  48.121510   921.000000  101.400002
2024-01-08  578.056152  47.837330   920.000000   98.962502
...                ...        ...          ...         ...
2024-06-26  960.000000  53.615700  1405.000000  204.750000
2024-06-27  960.000000  53.426247  1395.000000  207.187500
2024-06-28  966.000000  52.763153  1400.000000  208.650009
2024-07-01  968.000000  53.899883  1415.000000  210.600006
2024-07-02  960.000000  52.700001  1410.000000  204.500000

[119 rows x 4 columns]