In [17]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

all_data = {ticker:pdr.get_data_yahoo(ticker) for ticker in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'2330.TW':                   Open        High         Low       Close   Adj Close  \
 Date
 2000-01-04   69.649033   69.649033   68.475182   69.649033   34.369537
 2000-01-05   69.649033   71.214043   68.866341   71.214043   35.141830
 2000-01-06   70.822884   71.214043   69.649033   69.649033   34.369537
 2000-01-07   67.301331   68.475182   66.518639   67.692490   33.404053
 2000-01-10   69.649033   70.431351   68.475182   70.040192   34.562569
 ...                ...         ...         ...         ...         ...
 2024-06-25  925.000000  945.000000  923.000000  945.000000  945.000000
 2024-06-26  951.000000  960.000000  951.000000  960.000000  960.000000
 2024-06-27  951.000000  961.000000  949.000000  960.000000  960.000000
 2024-06-28  956.000000  971.000000  955.000000  966.000000  966.000000
 2024-07-01  968.000000  977.000000  965.000000  968.000000  968.000000

                   Volume
 Date
 2000-01-04  200662336736
 2000-01-05  402466805912
 2000-01-06  197545715802
 2000-01-07  235270344752
 2000-01-10  276171685539
 ...                  ...
 2024-06-25      57368432
 2024-06-26      44967166
 2024-06-27      39729446
 2024-06-28      39138210
 2024-07-01      20617329

 [6103 rows x 6 columns],
 '2303.TW':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2000-01-04  43.961380  44.900723  43.209900  44.524986  21.108097  332630460
 2000-01-05  43.585640  44.524986  43.209900  44.337120  21.019032  292754299
 2000-01-06  44.337120  44.337120  43.209900  43.397774  20.573715  248928848
 2000-01-07  42.270554  42.646294  40.955471  42.082687  19.950266  269228882
 2000-01-10  40.203999  43.585640  40.203999  43.209900  20.484653  380487972
 ...               ...        ...        ...        ...        ...        ...
 2024-06-25  56.700001  56.700001  55.700001  56.400002  56.400002   69308998
 2024-06-26  56.500000  56.700001  56.099998  56.599998  56.599998   40739678
 2024-06-27  56.099998  56.400002  55.500000  56.400002  56.400002   63763167
 2024-06-28  56.099998  56.200001  55.599998  55.700001  55.700001   86163793
 2024-07-01  55.900002  57.299999  55.900002  56.900002  56.900002  144609680

 [6103 rows x 6 columns],
 '2454.TW':                    Open         High          Low        Close    Adj Close  \
 Date
 2001-07-23    72.470985    72.470985    72.470985    72.470985    28.596720
 2001-07-24    76.625542    77.352501    75.161797    77.106911    30.426039
 2001-07-25    77.106911    82.480515    77.106911    82.480515    32.546429
 2001-07-26    85.408005    88.089897    84.671227    88.089897    34.759880
 2001-07-27    90.290428    91.754173    87.353119    87.844307    34.662964
 ...                 ...          ...          ...          ...          ...
 2024-06-25  1370.000000  1400.000000  1365.000000  1385.000000  1385.000000
 2024-06-26  1395.000000  1430.000000  1395.000000  1405.000000  1405.000000
 2024-06-27  1380.000000  1410.000000  1380.000000  1395.000000  1395.000000
 2024-06-28  1400.000000  1405.000000  1375.000000  1400.000000  1400.000000
 2024-07-01  1405.000000  1440.000000  1405.000000  1415.000000  1415.000000

                Volume
 Date
 2001-07-23     463095
 2001-07-24  238341541
 2001-07-25   94092605
 2001-07-26   64114300
 2001-07-27   60369077
 ...               ...
 2024-06-25    9382535
 2024-06-26    4993229
 2024-06-27    4724876
 2024-06-28    6843642
 2024-07-01    5124966

 [5699 rows x 6 columns],
 '2317.TW':                   Open        High         Low       Close   Adj Close  \
 Date
 1993-01-05    0.730803    0.744620    0.726197    0.730803    0.409765
 1993-01-06    0.729267    0.729267    0.712379    0.718520    0.402878
 1993-01-07    0.718520    0.729267    0.712379    0.715450    0.401157
 1993-01-08    0.724661    0.724661    0.687814    0.693955    0.389105
 1993-01-11    0.692420    0.709308    0.692420    0.698561    0.391687
 ...                ...         ...         ...         ...         ...
 2024-06-25  203.000000  212.000000  201.000000  211.000000  211.000000
 2024-06-26  211.500000  215.500000  210.000000  210.000000  210.000000
 2024-06-27  208.000000  214.500000  207.500000  212.500000  212.500000
 2024-06-28  214.000000  216.000000  212.500000  214.000000  214.000000
 2024-07-01  215.000000  217.000000  214.500000  216.000000  216.000000

                Volume
 Date
 1993-01-05   33478780
 1993-01-06   46846584
 1993-01-07   44447315
 1993-01-08   43699448
 1993-01-11   14068903
 ...               ...
 2024-06-25  116945868
 2024-06-26  107811774
 2024-06-27   84781047
 2024-06-28   75725075
 2024-07-01   73654337

 [7928 rows x 6 columns]}

In [23]:
import pandas as pd 
df1 = pd.DataFrame({ticker:dataFrame['Adj Close'] for ticker,dataFrame in all_data.items()})
df2 = df1.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
df3 = df2.dropna()
df4 = df3.pct_change()
df5 = df4.drop(index='2021-07-23':'2023-12-31')
df5

SyntaxError: invalid syntax (1088700040.py, line 6)

In [ ]:
df3 = df2.dropna()
df4 = df3.pct_change()
df5 = df4.drop(index='2001-07-23')
df5